/* HomePage.css */
.cover-container {
  position: relative;
}

.cover-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.cover-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-text {
  font-size: 3.5rem;
}

.overlay-subtext, .overlay-subtext-brand-name {
  font-size: 2rem;
}

.new-arrival-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; /* Adjust gap between cards */
  padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .overlay-text {
    font-size: 2rem;
  }

  .overlay-subtext, .overlay-subtext-brand-name {
    font-size: 1rem;
  }

  .new-arrival-list {
    padding: 10px;
    gap: 10px; /* Reduce gap between cards on smaller screens */
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 1.5rem;
  }

  .overlay-subtext, .overlay-subtext-brand-name {
    font-size: 0.9rem;
  }

  .new-arrival-list {
    padding: 5px;
    gap: 5px; /* Further reduce gap between cards on very small screens */
  }
}
