.navbar {
    display: flex;
    justify-content: space-around;
    color: #000;
    border-bottom: 1px solid #ccc; /* Add a 1px solid border at the bottom of the navbar */
    padding: 10px 0;
  }
  
  .navbar-link {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  .navbar-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
  }
  
  .navbar-link:hover::after {
    width: 100%;
  }
  

  .tab-list{
    display: flex;
    justify-content: space-around;
  }

  .logo {

    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .admin-button-container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media (max-width: 768px) {
    .logo {
      width: 80px;
    }
  }
  
  @media (max-width: 576px) {
    .logo {
      width: 60px;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-link {
      margin: 5px 0;
    }

    .admin-button-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  