.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.change {
  transform: rotate(45deg);
}

.change:nth-child(2) {
  opacity: 0;
}

.change:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.navbar-link {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navbar-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}

.navbar-link:hover::after {
  width: 100%;
}

.admin-button-container {
  display: flex;
  gap: 10px;
}

.regular-black-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.regular-black-button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
  }

  .navbar-link {
    margin: 5px;
    text-align: center;
  }

  .nav-bar-section-devider{
    width: 12rem;
    margin-top: 3rem;
  }

  .navbar-links.active {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 100vh;
  }

  .burger-menu {
    display: flex; 
  }

  .admin-button-container {
    flex-direction: column;
    gap: 5px;
  }
}