.modal-overlay-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  z-index: 1111;
}

.modal-content-custom-product-detail {
  width: 60%;
  max-height: 90%;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 10000;
}
.product-detail-modal-upper-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.product-detail-main-container {
  flex-direction: column;
  text-align: center;
  height: auto;
  padding: 20px;
}
.product-detail-text-container {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.product-detail-individual-image {
  width: 60px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.product-detail-individual-image:hover {
  transform: scale(1.1);
}
.product-detail-multiple-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.product-detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.product-main-image {
  width : 20rem;
  margin: 8px;
  border-radius: 12px;
  object-fit: contain;
}
.product-detail-description {
  margin-top: 1rem;
  width: 100%;
  text-align: justify;
}

.top-pick-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.radio-button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


@media (max-width: 768px) {
  .modal-content-custom-product-detail {
    width: 90%;
    padding: 15px;
  }

  .product-detail-modal-upper-section {
    flex-direction: column;
    gap: 20px;
  }

  .product-detail-text-container {
    margin-left: 0;
    margin-right: 0;
  }
  .product-detail-image-container,
  .product-detail-multiple-image-container {
    margin-top: 10px;
      flex-direction: row;
      justify-content: center;
  }

  .product-main-image {
    width: 15rem;
    margin-left: 10rem;

    align-content: center;
}

.product-detail-description {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.top-pick-section {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio-button-group {
  flex-direction: column;
  gap: 5px;
}
}

